<div class="container mt-3 mb-3">
  <div class="row">
    <div class="col-md-4 mx-auto p-4">
      <h2 class="title-owner">INSCRIPTION</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          <%= f.input :password,
                      label: "Mot de passe",
                      required: true,
                      hint: ("#{@minimum_password_length} caractères minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      label: "Confirmer le mot de passe",
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions mb-3">
          <%= f.button :submit, "Connexion", class: "btn our-button" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>

    </div>

  </div>

</div>
