<div class="container flats">
  <div class="text-center mt-5">
      <h2>MES APPARTEMENTS</h2>
      <hr>
    </div>
  <div class="row">
    <div class="col-xs-6 mx-auto">
      <%= link_to new_flat_path, class: "text-decoration-none" do %>
      <div class="container-fluid add">
        <div class="text-center">
          <img src="https://image.flaticon.com/icons/svg/1828/1828817.svg" alt="" style="width: 30px;"></div>
          <div class="text-center mt-3">Ajouter un nouveau logement</div>
      </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-xs-4 mt-5 flats">
        <div class="card-flat">
          <% flat.photos.each do |photo| %>
          <%= cl_image_tag photo.key %>
          <% end %>
        <div class="card-flat-infos">
          <h2><%= flat.title.capitalize %></h2>
          <p><%= flat.address.capitalize %></p>
          <p><%= flat.area %>m²</p>
          <p><%= flat.typology %></p>
        </div>
        <div class="container icons">
           <% if flat.status == true %>
            <div class="status">🟢</div>
          <% else %>
            <div class="status">🔴</div>
          <% end %>
            <label for="box2" id="sweet-alert-trash-<%=flat.id%>" class="btn btn-flat our-button alt"><i class="far fa-trash-alt"></i></label>
            <%= link_to flat_path(flat), method: :delete, id: "delete-link-#{flat.id}" do %>
            <% end %>

            <%= link_to edit_flat_path(flat), class: 'btn btn-flat our-button mb-2' do %>
              <i class="far fa-edit"></i>
            <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>





