
<div class="card-product">
  <% @flats.each do |flat| %>
    <% flat.photos.each do |photo| %>
     <%= cl_image_tag photo.key %>
    <% end %>
    <div class="card-product-infos">
      <h2><%= flat.title %></h2>
      <p><%= flat.address %></p>
      <p><%= flat.area %></p>
      <p><%= flat.typology %></p>
    </div>
    <div class="container d-flex justify-content-center">
      <p>
        <%= link_to 'Supprimer', flat_path(flat), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-flat our-button' %>
        <%= link_to 'Modifier', edit_flat_path(flat), class: 'btn btn-flat our-button' %>
      </p>
  <% end %>
</div>

