<% if policy(Flat).create? %>
  <%= link_to "Nouvel appartement", new_flat_path %>
<% end %>
<div class="box">
  <div class="add-image">
    <h1 class="add-title">Veillez proposer votre appartement</h1>
    </div>
  <div class="add-form container col-sm-8 col-lg-4">
      <%= simple_form_for (@flat) do |f| %>
        <div class="row">
          <div class="col">
            <%= f.input :address, label: false, placeholder: "Adresse"%>
          </div>
          <div class="col">
            <%= f.input :typology, collection: Flat::TYPOLOGY label: false, placeholder: "Typologie du bien" %>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <%= f.input :age, label: false, placeholder: "Age" %>
          </div>
          <div class="col">
            <%= f.input :hobby, label: false, placeholder: "Loisirs" %>
          </div>
          <div class="col">
            <%= f.input :price, label: false, placeholder: "Prix" %>
          </div>
        </div>

        <%= f.input :city, label: false, placeholder: "Adresse" %>
        <%= f.input :message, label: false  %>
          <div class="new-form-buttons">
          <label class="btn btn-outline-info" style="style: width: 100%">
            Ajouter une photo <em> (10.5 Mb max.)</em>
            <span style="display:none;">
              <%= f.input :photo, as: :file, name: 'Photo' %>
            </span>
          </label>
          <%= f.submit "Proposer", class: "btn btn-primary submit-new our-button"  %>
        </div>
      <% end %>
  </div>
</div>
