<div class="container show">
  <div class="text-center mt-5">
      <h2>LOGEMENT</h2>
    </div>
  <div class="row mt-5">
    <div class="col-6">
      <div class="show-flats">
        <% if @flat.photos.attached? %>
          <% @flat.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
          <% else %>
            <%= image_tag "https://image.freepik.com/photos-gratuite/modele-jouet-maison-vue-face-cles-arriere-plan-flou_23-2148301690.jpg" %>
          <% end %>
      </div>
    </div>
      <div class="col-6">
        <h3 class="text-center" style="font-size: 20px;">Proposition de <%= @flat.user.first_name.capitalize %> <%= @flat.user.last_name.capitalize %></h3>
        <ul class="list-group list-group-flush text-center" style="font-size: 17px;">
          <li class="list-group-item"><em><%= @flat.address %></em></li>
          <li class="list-group-item"><em><%= @flat.user.email %></em></li>
          <li class="list-group-item">Le bien est un  <strong style="color: #025D90;"><%= @flat.typology.upcase %></strong></li>
          <li class="list-group-item">La surface est de  <strong style="color: #025D90;"><%= @flat.area %>m²</strong></li>
          <li class="list-group-item">Le loyer actuel est de <strong style="color: #025D90;"><%= @flat.rent %>€</strong></li>
          <li class="list-group-item">Le montant des charges est de <strong style="color: #025D90;"><%= @flat.rental_charges %>€</strong></li>
          <li class="list-group-item">Etat actuel  <strong style="color: #025D90;"><%= @flat.current_state %></strong></li>
          <li class="list-group-item">Etat du bien  <strong style="color: #025D90;"><%= @flat.appartement_condition %></strong></li>
        </ul>
          <div class="container d-flex justify-content-center mt-5">
           <div class="mr-2">
              <%= link_to 'Modifier', edit_flat_path(@flat), class: 'btn btn-flat my-button' %>
           </div>
           <div>
              <% if @flat.status == false %>
                <%= link_to validate_flat_path(@flat), method: :patch, id: "validate-link-#{@flat.id}", class: "text-decoration-none btn btn-validate" do %>
              Valider
              <% end %>
            <% end %>
           </div>
        </div>
      </div>
  </div>
</div>
</div>
