<% render "shared/navbar" %>
<div class="card-product">
    <% @flat.photos.each do |photo| %>
      <div class="card-photo" style="url(<%= cl_image_path photo.key, :width=>300, :height=>200 %>);">
        <% end %>
  <div class="card-product-infos">
    <h2><%= @flat.title %></h2>
    <p><%= @flat.address %></p>
    <p><%= @flat.aera %></p>
    <p><%= @flat.typology %></p>
  </div>

    <div class="container d-flex justify-content-center">
     <p>
      <%= link_to 'Supprimer', flat_path(@flat), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-flat our-button' %>
      <%= link_to 'Modifier', edit_flat_path(@flat), class: 'btn btn-flat our-button' %>
     </p>

  </div>

</div>




