<nav class="navbar">
  <%= link_to root_path, class: "navbar-logo" do %>
    <%= image_tag "logo.JPG" %>
  <% end %>
  <input id="hamburger" class="hamburger" type="checkbox"/>
    <label class="hamburger" for="hamburger">
      <i></i>
        <text>
          <close>fermer</close>
          <open>menu</open>
        </text>
    </label>
  <section class="drawer-list">
    <ul class="navbar-nav">
      <% if not user_signed_in? %>
        <li class="nav-item">
          <%= link_to "QUI SOMMES NOUS", about_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "DEVENEZ PROPRIETAIRE SOLIDAIRE", owner_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "SIMULATION", new_simulation_path, class: "nav-link" %>
          </li>
        <li class="nav-item">
          <%= link_to "NOS MISSIONS", missions_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "LABEL ET PARTENAIRES", label_path, class: "nav-link" %>
        </li>
          <li class="nav-item">
            <%= link_to new_user_registration_path, class: "nav-link" do %>
            <i class="fas fa-user-plus"></i> INSCRIPTION
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fas fa-sign-in-alt"></i> CONNEXION
            <% end %>
          </li>
      <% else %>
          <li class="nav-item">
            <% if current_user.avatar.attached? %>
              <%= cl_image_tag current_user.avatar.key, class: "avatar float-right", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= image_tag "https://image.flaticon.com/icons/svg/149/149071.svg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to "QUI SOMMES NOUS", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "DEVENEZ PROPRIETAIRE SOLIDAIRE", owner_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "SIMULATION", new_simulation_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "NOS MISSIONS", missions_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">LABEL ET PARTENAIRES</a>
          </li>
          <span class="border-bottom" style="width: 85%; margin-left: 56px;"></span>
             <% if current_user.admin %>
             <li class="nav-item">
            <%= link_to "Tableau de bord", dashboard_path , class: "nav-link" %>
          </li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Mes appartements", flats_path(@flats) , class: "nav-link" %>
          </li>
          <% end %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link" do %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nav-link" %>
            <% end %>
            </li>
      <% end %>
    </ul>>
  </section>
</nav>
