<div class="container">
  <div class="container-about">
    <div class="row">
      <div class="col-xs-6 mx-auto">
        <div class="title-label">
          <h2>LABEL ET PARTENAIRES</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="banner-label text-center"></div>
  <div class="container-label">
    <div class="row">
      <div class="col text-center description-card">
        <div class="label-image">
          <%= image_tag "secourscatholique.jpg" %>
        </div>
        <p>Les délégations du Secours Catholique – Caritas France, couvrent l’ensemble du territoire national et sont en contact permanent avec des apporteurs de projets et les administrations locales.</p>
        <a href="https://www.secours-catholique.org/">www.secours-catholique.org</a>
      </div>
      <div class="col text-center description-card">
        <div class="label-image">
          <%= image_tag "samu.png" %>
        </div>
        <p>Samusocial de Paris développe aujourd'hui un ensemble d'actions de lutte contre la grande exclusion : écoute et orientation par le 115 de Paris, hébergement en centres d'hébergement d'urgence (CHU), accueil de jour, soins en Lits Halte Soins Santé (LHSS) et Lit d'Aide Médicalisé (LAM), accompagnement social, etc.</p>
        <a href="https://www.samusocial.paris/">www.samusocial.paris</a>
      </div>
      <div class="col text-center description-card">
        <div class="label-image">
          <%= image_tag "fapil.png" %>
        </div>
        <p>La Fapil est un réseau d’associations, unions d’économie sociale et sociétés coopératives d’intérêt collectif travaillant en faveur de l’accès et du maintien dans le logement de personnes en difficulté.</p>
        <a href="https://www.fapil.fr/">www.fapil.fr</a>
      </div>
      <div class="col text-center description-card">
         <div class="label-image">
          <%= image_tag "anil.png" %>
         </div>
        <p>L'Agence Nationale pour l'Information sur le Logement (ANIL) a été créée en 1975 sous l'impulsion des pouvoirs publics, pour contribuer à l’accès de tous à l'information, sur l'ensemble des thématiques liées au logement.</p>
        <a href="https://www.anil.org/">www.anil.org</a>
      </div>
      <div class="col text-center description-card">
        <div class="label-image">
          <%= image_tag "caritas.jpeg" %>
        </div>
        <p>Caritas Internationalis est une confédération internationale d'organisations catholiques à but caritatif, présente dans plus de 200 pays et territoires.</p>
        <a href="https://www.fondationcaritasfrance.org/">www.fondationcaritasfrance.org</a>
      </div>
      <div class="col text-center description-card">
        <div class="label-image">
          <%= image_tag "interlogement.png" %>
        </div>
        <p>Association fédérative de 45 associations de lutte contre l'exclusion sociale et la précarité en Seine-Saint-Denis et opérateur du SIAO 93.</p>
        <a href="https://www.interlogement93.net/">www.interlogement93.net</a>
      </div>
    </div>
</div>
